.warning {
    position: relative;
    display: flex;
    border-radius: 24px;
    border: none;
    gap: 16px;
    padding: 12px 16px;
    background: #242725;
    box-shadow: 0px 0px 6px 0px rgba(56, 255, 156, 0.40);
    align-items: flex-start;
  }
.warning h3 {
    color: #A3FFD1;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.28px;
    margin-bottom: 8px;
  }
.warning p {
    color: #A3FFD1;
    font-size: 14px !important;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.28px;
  }

.note {
    position: relative;
    display: flex;
    border-radius: 24px;
    background: #221F27;
    box-shadow: 0px 0px 6px 0px rgba(206, 176, 250, 0.40);
    border: none;
    gap: 16px;
    padding: 12px 16px;
    align-items: flex-start;
  }
.note h3 {
    color: #CEB0FA;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.28px;
    margin-bottom: 8px;
  }
.note p {
    color: #CEB0FA;
    font-size: 14px !important;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.28px;
  }