.categoryContainer {
    border-radius: 18px;
    background: var(--Grey--700, #1B1B1B);
}

.categoryLink {
    height: 36px;
    border-radius: 100px;
    background-color: #1B1B1B;
    padding: 0px 0px 0px 16px;
    font-weight: 700;
    margin: 0px 5px 0px 2px;
    height: 36px;
}
.categoryLink:hover {
    box-shadow: 0px 0px 6px 0px rgba(56, 255, 156, 0.40);
    transition: all 0.3s ease;
}

.categoryIcon {
    display: flex;
    align-items: center;
}

.categoryTitle::after {
    background: url("/img/GreenFiChevronUp.svg")  no-repeat fixed center;
    filter: none;
}

.secondLevelItemIcon:hover {
    cursor: pointer;
}