.ctaContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 40px 48px;
    border-radius: 32px;
    background: #7AFFBD;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

.bgVector {
    position: absolute;
    top: 2px;
    right: 0;
    border-radius: 32px;
    z-index: 0;
}

.textBox {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 8px;
    z-index: 1;
}
.textBox .title {
    color: #101010;
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.48px;
    margin: 0px;
}
.textBox .description {
    color: #101010;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    margin: 0px;
}

.btnBox {
    display: block;
    width: 100%;
    height: fit-content;
}
.btnBox a:hover {
    text-decoration: none;
}
.ctaButton {
    display: flex;
    width: 100%;
    border-radius: 24px;
    background: #101010;
    border: 1px solid #101010;
    padding: 13px 24px;
    justify-content: center;
    align-items: center;
    color: #A3FFD1;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.36px;
    gap: 8px;
}
.ctaButton:hover {
    cursor: pointer;
}