/*
Hide color mode toggle in small viewports
 */
@media (max-width: 996px) {
  .colorModeToggle {
    display: none;
  }
}

.navbarContainer {
  display: grid;
  grid-template-columns: 280px 60% 1fr;
  width: 100%;
  height: fit-content;
  background: rgba(16, 16, 16, 0.10);
  backdrop-filter: blur(12px);
}

.centerContainer {
  width: 80%;
}
@media screen and (max-width: 996px) {
  .centerContainer {
    position: fixed;
    top: 5px;
    right:18px;
    width: auto;
  }
}

.leftContainer {
  width: 280px !important;
  height: 58px;
}
.rightContainer {
  display: flex;
  margin: auto;
}

.mobileNavRight {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.socialContainer {
  display: flex;
}