.menuExternalLink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  padding-right: 18px;
  border-radius: 100px;
  background-color: #151515;
  margin: 0px 5px;
  height: 36px;
}
.menuExternalLink:hover {
  color: #38FF9C !important;;
  border-radius: 100px;
  background: #242725;
  box-shadow: 0px 0px 6px 0px #38FF9C;
}

.leftHand {
  display: flex;
  align-items: center;
  gap: 8px;
}

.customLi {
  border-left: 1px solid #1E6B44;
  margin-left: 12px;
}

.level3Box {
  margin-left: 12px;
}