.breadcrumbsContainer {
  --ifm-breadcrumb-size-multiplier: 0.8;
  margin-bottom: 0.8rem;
  padding: 0px 0px !important;
  margin-bottom: 12px !important;
}

.breadcrumbTitle {
  color: #38FF9C;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 0px;
}